<!DOCTYPE HTML >
<html>
<head>
	<script src="//code.jquery.com/jquery-1.11.2.min.js"></script>
	</head>
	<body>
		Welcome to admin page

		
	
		<table id="users">
			<tr>
				<th>
					username
				</th>
				<th>
					img
				</th>
			</tr>
		</table>




		 <iframe src="chat.html" width="400" height="400"></iframe>

		<script >
	

		
		$(function() {



			jQuery.ajax({
        		url: "https://radiant-gorge-2358.herokuapp.com/users",
       			type: "get",
        		dataType: "json",
        		async: false,
        		success: function (data) {
					console.log( "JSON Data: " + JSON.stringify(data) );
					var obj = data.data;
					console.log( "JSON Data: " + JSON.stringify(obj[i]) );
					for (var i = obj.length - 1; i >= 0; i--) {
						if(obj[i].image != null){
							jQuery.ajax({
        						url: "https://radiant-gorge-2358.herokuapp.com/images/" + obj[i].image.toString(),
       							type: "get",
        						dataType: "json",
        						async: false,
        						success: function (data) {
        							$('#users').append('<tr><td>'+ JSON.stringify(obj[i].username) +'</td><td> <img src="data:image/png;base64,' + data.data.image.toString() + '"/></td></tr>');
        						}
				
							});
						}
				
					};
       			 }
    		});


    
});
		
			

		</script>

		test
	</body>



</html>